doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    //meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    //meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Election Cameroun
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(type='text/javascript', src='js/accueil.js')
    // Bootstrap tooltips
    script(type='text/javascript', src='mdbpro/popper.min.js')
    // Bootstrap core JavaScript
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    // MDB core JavaScript
    script(type='text/javascript', src='mdbpro/compiled.min.js')
    // Font Awesome
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.1/css/all.css')
    link(rel="stylesheet", href='css/loading.css')
    // Bootstrap core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Material Design Bootstrap
    // <link href="css/mdb.min.css" rel="stylesheet">
    link(href='mdbpro/mdbpro.css', rel='stylesheet')
    // Your custom styles (optional)
    link(href='css/style.css', rel='stylesheet')
  body(style='')
    #loaderImage(style='display:none;')
      img(src='img/ajax-loader.gif', alt='Loader')
    // Default form login
    form#idForm.text-center.border.border-light.p-5.z-depth-5(action="/launch",method="post" style='width:25%; margin-left:auto; margin-right:auto; margin-top:10%; ')
      p.h4.mb-4 Election Cameroun
      input#defaultLoginFormEmail.form-control.mb-4(name='nbInscrits', type='number', placeholder="Nombre d'inscrits", min='1', required='')
      input#defaultLoginFormEmail.form-control.mb-4(name='nbCandidats', type='number', placeholder='Nombre de candidats', min='1', required='')
      input#defaultLoginFormEmail.form-control.mb-4(name='nbBureaux', type='number', placeholder='Nombre de bureaux de vote', min='1', required='')
      select.browser-default.custom-select(name='niveauFraude', required='')
        option(selected='') Niveau de fraude
        option(value='0') Parfait
        option(value='1') Solitaire
        option(value='2') Coalition
      // Sign in button
      button.btn.btn-info.btn-block.my-4(type='submit', style='background-color: rgb(33, 37, 41)') Lancer
    // Default form login